.cart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #faebf4e1;
}

.product-container {
  border: 1px solid black;
  border-radius: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: auto;
  height: auto;
}

.product-image {
  width: auto;
  height: auto;
  border-radius: 5%;
  border: 1px solid rgb(100, 99, 99); 
}

.product-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: .3125rem;
  color: rgb(171, 128, 211);
}

.product-description {
  text-align: left;
  color: #666;
  margin-bottom: .625rem;
}

.product-quantity,
.product-price {
  margin-bottom: .3125rem;
  color: #666;
}

.remove-button {
  text-align: start;
  background-color: rgb(119, 111, 111);
  color: #fff;
  border: none;
  padding: 0px 10px;
  cursor: pointer;
  margin: auto;
}

.cart-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
  text-align: right;
}

.total {
  width: 300px;
  height: 300px;
  font-size: 30px;
  padding-top: 20px;
  margin-top: 40px;
  color: rgb(31, 29, 29);
  text-align:start;
}

.total h5{
  text-align: left;
}

.total h1{
  margin-top: 20px;
  font-size: 30px;
  text-align: left;
  padding-left: 0px;
}

.botones{
  margin-top: 25px;
  background-color:rgba(141, 144, 179, 0.767);
  color: #000000;
  border: none;
  padding: 10px; 
  cursor: pointer;
}

.botones button :hover{
  color: rgb(56, 55, 56);
  background-color: rgb(163, 159, 159);
  transition: color 0.3s ease; 
}

.checkout-link {
  text-decoration: none;
}
