.navbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #8e09a8e3;
    color: white;
    position: sticky;
    top: 0px;
}

.logo {
    color: #1b191a;
    max-width: 100px;
    border-radius: 50%;
  }
  
  .navbarContainer h1{
    font-family:monospace;
    font-size: 35px;
    margin: 0px;
  }
  .nav-list {
    font-family:monospace;
    font-size: 18px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.25rem;
  }
  
  .nav-list a {
    border-radius: 10px; 
    color: white; 
    padding: 10px 15px; 
    text-align: center; 
    cursor: pointer; 
    text-decoration: none;
  }
  
  .nav-list a:hover {
    color: #131212; 
  }
  
 
  @media (max-width: 767px) {
    .navbarContainer {
      flex-direction: column;
      text-align: center;
      padding: 15px;
    }
  
    .navbarContainer h1{
      font-size: 25px;
    }

    .nav-list {
      margin-top: 5px;
      flex-direction: column;
    }
     
    .nav-list a {
      margin-right: 0;
      margin-bottom: 0px;
      font-size: 12px;
    }
  
    .cart {
      padding-top: 15px;
    }

    h5 {
      margin-left: 0;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .navbarContainer {
        flex-direction: column; 
        padding: 10px 5px; 
    }

    .logo {
        max-width: 80px; 
        margin-bottom: 10px; 
    }

    .nav-list {
        flex-direction: column; 
        gap: 4px; 
    }

    .nav-list a {
        padding: 0px 12px; 
        
    }
}