.cardContainer {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap;
  }

.productContainer {
    border: 2px solid #333;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f7c0e5;
    max-width: 250px;
  }
  
  .productContainer img {
    width: 80%;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  
  .productContainer h2 {
    margin: 8px 0;
    color: #333;
    font-size: .9375rem;
    font-weight: bold;
  }
 
  .productContainer button:hover{
    font-size: .875rem;
    color: rgb(34, 32, 32);
    border: 1px solid #333;
    text-align: center;
    background-color: rgb(231, 226, 226);
    transition: color 0.3s ease; 
  }