.cardContainer {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap;
  }

.productContainer {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 16px;
    /* margin: 16px; */
    text-align: center;
    max-width: auto;
    max-height: auto;
  }
  
  .productContainer img {
    width: auto;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  
  .productContainer h2 {
    margin: 8px 0;
    color: #9e3bc5;
    font-size: .9375rem;
    font-weight: bold;
  }
 
  .productContainer button{
    font-size: .875rem;
    background-color: rgba(141, 144, 179, 0.767);
    color: rgb(250, 247, 250);
    text-align: center;
  }
  .productContainer button:hover{
    color: rgb(56, 55, 56);
    background-color: rgb(163, 159, 159);
    transition: color 0.3s ease; 
  } 